body {
	background-color: grey;
}

@keyframes highlight {
  0% {
    background: lightyellow
  }
  100% {
    background: none;
  }
}

.highlight {
  animation: highlight 4s;
  animation-fill-mode: forwards;
}
